{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
{% endblock %}

{% block content %}
    <div id="chartContainer"></div>
{% endblock %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Obtener los datos de las estadísticas mediante fetch
            fetch('/datos_estadisticas')
                .then(function(response) {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Error al obtener los datos');
                    }
                })
                .then(function(data) {
                    // Generar el gráfico de artesanos
                    Highcharts.chart('grafico-artesanos', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: 'Artesanos por Tipo de Artesanía'
                        },
                        xAxis: {
                            categories: data.artesanos.categorias
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad'
                            }
                        },
                        series: [{
                            name: 'Cantidad',
                            data: data.artesanos.valores
                        }]
                    });

                    // Generar el gráfico de hinchas
                    Highcharts.chart('grafico-hinchas', {
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: 'Hinchas por Deporte'
                        },
                        xAxis: {
                            categories: data.hinchas.categorias
                        },
                        yAxis: {
                            title: {
                                text: 'Cantidad'
                            }
                        },
                        series: [{
                            name: 'Cantidad',
                            data: data.hinchas.valores
                        }]
                    });
                })
                .catch(function(error) {
                    console.error(error);
                });
        });
    </script>
{% endblock %}