{% extends "base.html" %}

{% block content %}
    <header>
        <h2>Ver Artesanos</h2>
    </header>
    <h3>Hacer click en una fila</h3>
    <div class="table-container">
        <div class="table-row header">
            <div class="table-column">Nombre</div>
            <div class="table-column">Teléfono</div>
            <div class="table-column">Comuna</div>
            <div class="table-column">Tipo Artesanías</div>
            <div class="table-column">Fotos</div>
        </div>
        {% if data %}
            {% for artesano in data %}
                <a href="{{ url_for('informacion_artesano', id=artesano.artesano_id) }}" class="table-row">
                    <div class="table-column">{{ artesano.artesano_nombre }}</div>
                    <div class="table-column">{{ artesano.celular }}</div>
                    <div class="table-column">{{ artesano.comuna_nombre }}</div>
                    <div class="table-column">{{ artesano.tipo_artesania }}</div>
                    <div class="table-column">
                        <img src="{{ artesano.path_image }}" alt="Foto artesano" width="150">
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}